[worker]
%{ for index, group in worker_ips ~}
worker-${index + 1} ansible_host=${worker_ips[index]}
%{ endfor ~}

[master]
%{ for index, group in master_ips ~}
master-${index + 1} ansible_host=${master_ips[index]}
%{ endfor ~}

[all:children]
worker
master
